.modal {
  h2 {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-bottom: 1.3rem;
    color: #fff;

    span {
      cursor: pointer;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      color: #fff;
      margin-bottom: 0.1rem;
    }

    input {
      padding: 0.5rem 0.1rem;
      outline: none;
      margin-bottom: 0.8rem;
    }

    button {
      padding: 0.7rem;
      color: #fff;
      background: #3b7db5;
      border: none;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.2s;
      margin-top: 0.1rem;

      &:hover {
        background-color: #418bca;
      }
    }
  }
}
