header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #45443f;
  padding: 1.2rem 8rem;

  a {
    text-decoration: none;
    color: #fff;
  }

  button.createNew {
    background-color: #3b7db5;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 1rem;

    &:hover {
      background-color: #418bca;
    }
  }
}
